body {
  font-family: 'Noto Sans Linear B', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  background-color: #da856b;
  color: #17181d;
}

section {
  max-width: 85ch;
  margin: auto;
  background-color: #f1b591;
  padding: 2rem;
}

h1 {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: auto;
}


h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
  max-width: 85ch;
}

h1, h2,h3, p {
  margin: auto;
}

li {
  text-align: left;
}

img {
  width:100%;
  border-radius: 2rem;
  display: block;
}

.tiny-image {
}

a {
  color: #454342;
}

